#kk{
    width: 328px;
    height: 400px;
    background-color:gray;
    border-radius: 20px;
    border: solid black 1px;
    margin-left: 35%;
    margin-top: 70px;
    box-shadow: inset;
}
#kk:hover{
    background-color:rgb(58, 56, 56);
    color: white;

}

h1{
    text-align: center;
}
form{
    width: 300px;
    
    
}
::placeholder{
    text-align: right;


}
@media(max-width:400px)
{
    button{

    }
}
#nn{
    text-align: center;
    
}